body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 24px;
	background: url('../img/background1.png') no-repeat center top / cover;

}


h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
		padding-top: 27px;
}
header a {
	color: #fff;
}
.menu {
	display: flex;
}
.menu li a {
	text-decoration: none;
}

.menu li {
	margin-right: 8px;
	margin-left: 131px;

}
.shapka {
	margin-top: 70px;
	display: flex;
}
.heading{
	width: 912px;
	margin-left: 16px;
}
.img{
	width: 144px;
	margin-left: 45px;

}
.nach{
	text-align: center;
	font-size: 30px;
	line-height: 35px;
	margin-top: 9px;
}
h1{
	font-size: 64px;
	line-height: 75px;
	text-align: center;
}
.elipse{
	display: block;
	margin-left: auto;
    margin-right: auto; 
    margin-top: 33px;
}
.el{
	margin-top: 7px;
}
h2{
	margin-top: 200px;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
}
h3{
	font-size: 36px;
	font-weight: normal;
	line-height: 42px;
	margin-bottom: 16px;
}
p{
	line-height: 28px;
	margin: 0px;
}

.tutor{
	margin-left: 119px;
	margin-right: 67px;

}
.point{
	display: flex;
	align-items: center;
	margin-top: 54px;
}
.points{
	margin-top: 24px;
	margin-bottom: 13px;
	margin-left: 142px;
}
.reason{
	margin-left: 155px;
}
.contacts{
	margin-top: 61px;
	margin-bottom: 16px;
	margin-left: 100px;
}

.tel {
	font-size: 36px;
	margin-left: 100px;
	color: #fff;
	text-decoration: none;
}
.mailto {
	font-size: 36px;
	margin-left: 100px;
	margin-right: 20px;
	color: #fff;
	text-decoration: none;
}

.feedback{
	display: flex;
}

.str {
	display: flex;
}

.form{
	margin-top: 67px;
	margin-left: 29px;
	width: 500px;
	height: 394px;
	padding: 0;
}
.user, .email {	
	width: 235px;
	height: 62px;
}
.fon{
	width: 500px;
	height: 62px;
}


.formInput input{
	border: none;
	outline: none;
	padding: 0 0 0 10px;
	font-size: 24px;
	color: #000;
	margin-bottom: 20px;
	margin-right: 20px;
}
.message{
	width: 500px;
	height: 146px;
}
.send {
	border: none;
	outline: none;
	width: 510px;
	height: 62px;
	background-color: #a5ff33;
	font-size: 24px;
	margin-bottom: 80px;
}
.send:hover{
	background-color: #89d42a;
	transform: scale(1.05);
}
